<br />
<br />
<input [ngxTimepicker]="picker" [format]="24">
<ngx-material-timepicker #picker></ngx-material-timepicker>
<br />
<br />
<div class="ngx-timepicker-field-example">
    <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
</div>


<div class="ngx-timepicker-field-example">
    <ngx-timepicker-field [format]="24" [defaultTime]="'11:11'"></ngx-timepicker-field>
</div>


<div class="ngx-timepicker-field-example">
    <ngx-timepicker-field [format]="24" ></ngx-timepicker-field>
</div>
